<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsli36tccEoTp7sPq9Fz1cuvGsBoWOwF0</string>
	<key>GCM_SENDER_ID</key>
	<string>404245265618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jason.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>singular-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>singular-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404245265618:ios:cf3b0fc614ed40ef75c10b</string>
</dict>
</plist>